<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 软件名称 -->
  <add key="SoftwareName" value="HotelBase.MVC" />
  <!-- 用户登录信息保存模式：Session、Cookie -->
  <add key="LoginProvider" value="Cookie" />
  <!-- 用户登录信息保存时间（单位：分钟）-->
  <add key="LoginTimeout" value="120" />

  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!--亚朵测试地址-->
  <add key="OpenApiTest" value="http://test.openapi.yaduo.com/atour/openapi/" />
  <add key="appid" value="59"/>
  <add key="key" value="1ea7ae99bbd8494eb0fbc77480edb108"/>

  <!--亚朵正式地址-->
  <add key="OpenApi" value="http://openapi.yaduo.com/atour/openapi/"/>
</appSettings>