<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="connStr"
               connectionString="Server=localhost;Database=hotelbase;Uid=root;Pwd=123456;charset=utf8;port=3306;pooling=true;SslMode = none;Allow User Variables=True"
               providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
<!--<connectionStrings>
	<add name="connStr"
             connectionString="Server=hdm317309523.my3w.com;Database=hdm317309523_db;Uid=hdm317309523;Pwd=admin2017@zybmima;charset=utf8;port=3306;pooling=true;"
             providerName="MySql.Data.MySqlClient"/>
</connectionStrings>-->

